@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Chyba";
}

<h1 class="text-danger">Bohužel došlo k chybě</h1>
<h2 class="text-danger">Omlouváme se, ale během vyřizování požadavku došlo k problému.</h2>

